<div
  class="login-container"
  style="
    max-width: 300px;

    margin: 50px auto;

    padding: 20px;

    border: 1px solid #ccc;

    border-radius: 10px;
  "
>
  <h2>Inicia Sesión</h2>

  <div style="margin-bottom: 15px">
    <label>Email:</label><br />

    <input type="email" name="email" [(ngModel)]="email" style="width: 100%" />
  </div>

  <div style="margin-bottom: 15px; position: relative">
    <label>Contraseña:</label><br />

    <div style="display: flex">
      <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        [(ngModel)]="password"
        style="width: 100%"
      />

      <button
        type="button"
        (click)="showPassword = !showPassword"
        style="margin-left: -40px; background: none; border: none; cursor: pointer"
      >
        {{ showPassword ? '👁️' : '👁️' }}
      </button>
    </div>
  </div>

  <p style="font-size: 0.9em; margin-top: 15px; text-align: center">
    ¿No tienes cuenta?

    <a routerLink="/registro" style="color: blue; cursor: pointer">Regístrate aquí</a>
  </p>

  <button
    (click)="onLogin()"
    style="width: 100%; background: #333; color: white; padding: 10px; cursor: pointer"
  >
    Entrar
  </button>

  <p *ngIf="errorMsg" style="color: red; font-size: 0.8em; margin-top: 10px">{{ errorMsg }}</p>
</div>
